* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: inherit;
}

main {
  min-height: calc(100vh - 80px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background 1s ease-in;
}

.loading-screen {
  background: red;
}
