* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: inherit;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  position: relative;

  overflow: hidden;
}

main {
  min-height: calc(100vh - 100px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background 1s ease-in;
}
