footer {
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;

  position: relative;
  z-index: 2;
}

footer h6 {
  font-size: 8px;
  font-weight: 100
}

footer h6 a {
  color: inherit;
}
