footer {
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;

  position: relative;
  z-index: 2;
}

footer h6 {
  font-size: 8px;
  font-weight: bolder;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
}

footer h6 a {
  color: inherit;
}
