header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
  position: relative;
  padding: 10px;
}

#gh-icon {
  width: 32px;
  height: 32px;

}

#gh-icon path {
  fill: #fff;
}
