#slider {
  width: 100%;
  margin: auto;
  opacity: 0.5;
  display: flex;
  position: relative;
  transition: opacity 0.2s linear;
}

#slider:active, #slider:hover {
  opacity: 1;
  cursor: pointer;
}

#slider input {
  width: 100%;
}

#slider input:hover {
  cursor: pointer;
}

#slider svg {
  width: 28px;
  height: 28px;
}

#slider svg path {
  fill: #fff;
  stroke: rgba(255, 255, 255, 0.6);
}

#night-icon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

#day-icon {
  margin-left: 6px;
}

#restore-auto-percent-btn {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 2px;
  margin-top: 5px;
  padding: 4px 10px;
}

#blur {
  fill: red;
}
