* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: inherit;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

main {
  background-color: steelblue;
  min-height: calc(100vh - 100px);
}

footer {
  background-color: #fff;
  height: 50px;
  position: absolute;
  bottom: 0;
}
